---
import React from "react";
import Menu from "../components/Menu.astro";
import Chat from "../components/Chat.jsx";
import { io } from "socket.io-client";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kalam&family=Kanit&display=swap"
      rel="stylesheet"
    />
    <title>Documentation Cypher</title>
  </head>
  <body class="bg-gradient-to-r from-darkgreen to-pink">
    <Menu />
    <div class="h-fit md:rounded-l-[48px] md:ml-48 bg-background">
      <Chat client:only />
    </div>
  </body>
</html>
