# build output
static/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

#python
# Byte-compiled / optimized / DLL files
__pycache__/

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store
