---
import {
  Astronav,
  MenuItems,
  MenuIcon,
  Dropdown,
  DropdownItems,
  DropdownSubmenu,
} from "astro-navbar";
---

<Astronav>
  <div class="flex">
    <MenuIcon class="w-8 h-8 fill-background text-background" />
  </div>
  <div>
    <MenuItems class="hidden flex">
      <ul>
        <li>
          <a
            href="https://wiggly-income-f59.notion.site/f352b0aa9813495086bd1dc5dcb66c3c?v=01e8caa59dbd498da4400f2cedc38932&pvs=4"
            target="_blank"
            ><h2 class="font-kanit text-background pt-2 text-2xl">
              Documentation
            </h2></a
          >
        </li>
        <li>
          <a href="#" class="clear-history">
            <h2 class="font-kanit text-background pt-2 text-2xl">
              Clear History
            </h2>
          </a>
        </li>
      </ul>
    </MenuItems>
  </div>
  <script>
    document
      .querySelector(".clear-history")
      .addEventListener("click", function (event) {
        event.preventDefault();
        if (typeof window.clearChat === "function") {
          window.clearChat();
        } else {
          console.error("clearChat function not yet available");
        }
      });
  </script>
</Astronav>
