---
interface Props {
  title: string;
  message?: string;
}

const { title, message } = Astro.props;
---

<li
  class="list-none h-fit w-full bg-pink drop-shadow-md p-8 align-center text-left"
>
  <div class="flex flex-row gap-8">
    <h2 class="font-kalam text-lightgreen font-semibold text-2xl">
      {title}
    </h2>

    <p class="font-kalam align-bottom text-lightgreen text-xl">
      {message}
    </p>
  </div>
</li>
